:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
  --fs: 1rem;
}

/* Load the Outfits font */
@font-face {
  font-family: "Outfits";
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
  font-weight: 400;
}

/* Load the Young Serif font */
@font-face {
  font-family: "Young Serif";
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Young Serif";
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Young Serif";
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
  font-weight: 700;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
p {
  overflow-wrap: break-word;
}

h2 {
  color: var(--brown-800);
  font-family: "Young Serif";
}

body {
  background: var(--stone-100);
  min-height: 100vh;
  font-size: var(--fs);
  display: grid;
  place-content: center;
  min-height: 100vh;
  line-height: 1.5;
  color: var(--stone-600);
  font-family: "Outfits";
}

.container {
  background-color: var(--white);
  border-radius: 12px;
  max-width: 720px;
}

main {
  padding: 1.5rem;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

p[class="title"] {
  font-size: 2rem;
  line-height: 0.9;
  word-spacing: 0px;
  letter-spacing: 0;
  color: var(--stone-900);
  font-family: "Young Serif";
}

strong {
  font-weight: bold;
  color: var(--stone-900);
}

.omellet_recipe_preparation {
  background-color: var(--rose-50);
  padding: 1rem 2.9rem;
  border-radius: 8px;
}

.omellet_recipe_preparation h3 {
  color: var(--rose-800);
  font-weight: bolder;
}

.omellet_recipe_preparation ul {
  margin-top: 0.875rem;
}

li {
  margin-top: 0.75rem;
  padding-left: 1.5rem;
}

li::marker {
  color: var(--rose-800);
}

.details {
  border-bottom: 1px solid var(--stone-150);
  padding-bottom: 2rem;
}

.details ul,
.details ol {
  margin-left: 16px;
}

.nutrition {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nutrition div {
  padding: 0.85rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  border-bottom: 1px solid var(--stone-150);
  padding-left: 1.5rem;
}

.nutrition div:last-child {
  border-bottom: none;
}

.nutrition div p:first-child {
  text-align: start;
  flex: 1;
}

.nutrition div p:last-child {
  text-align: start;
  flex: 1;
  color: var(--brown-800);
  font-weight: bolder;
}

.attribution {
  text-align: center;
  font-size: 0.875rem;
}

@media screen and (min-width: 376px) {
  .container {
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  header {
    border-radius: 10px;
    overflow: hidden;
  }
}
